@import "nib"

* {
    box-sizing: border-box;
}

.container {
    width: 1280px;
    height: 108px;
    margin: 0 auto;
}

.menu_inner{
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 104px;
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

.nav1 {
    font-family: sans-serif;
    text-transform: uppercase;
    color: #ff0000;
    text-decoration: none;
    padding: 10px 20px;
}

.nav1:hover{
    background-color: #ff0000;
    color: black;
    border-radius: 5px;
}

.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
}

.info_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    text-align: center;
}
.number {
    font-size: 50px;
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px 20px 0px 40px;
}
.text {
    font-family: sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px 0px 40px;
}

.dropdown {
    font-family: sans-serif;
    text-transform: uppercase;
    color: #ff0000;
    text-decoration: none;
    padding: 10px 20px;
 }

.dropdown:hover {
    background-color: #ff0000;
    color: black;
    border-radius: 5px;
}

.dropdown-content {
    margin: 11px;
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: flex;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #ff0000;
    text-decoration: none;
    padding: 10px 20px;
    background-color: black;
}

.dropdown-content a:hover {
    background-color: #ff0000;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.animate-pulse {
    height: 2px;
    width: 2px;
    border-radius: 50%;
	background: #E41931;
	padding: 5px;
	animation: animate_pulse 1.5s infinite;
}

.animate-pulse:hover {
    cursor: pointer;
}

@keyframes animate_pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
	}
}