{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="video">
        <div class="container">
            <div class="video_inner">
                <video autoplay loop muted class="bgvideo" src="{% static 'video/maine_movie.mp4' %}"></video>
            </div>
        </div>
    </div>
    <!--================ Start Footer Area =================-->
    <div class="menu">
        <div class="info_inner">
            <div class="item">
                <div class="number">200</div>
                <div class="text">Дней и ночей в аду</div>
            </div>
            <div class="item">
                <div class="number">15</div>
                <div class="text">Минут средняя жизнь в городе</div>
            </div>
            <div class="item">
                <div class="number">2629619</div>
                <div class="text">Человек погибло</div>
            </div>
        </div>
    </div>
    <!--================ End Footer Area =================-->
{% endblock %}
